img {
    border:2px solid black;
    border-radius:50%;
}
body.back {
    background-color:SkyBlue;
}
#video-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: white 2px solid;
    border-radius: 12px;
}
.button {
    background-color: #4CAF50;
    border: white 2px solid;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.paragraph {
    font-size: 20px;
    font-family: comic sans ms, sans-serif;
}
a {
    color: white;
    text-decoration: none;
}